:root {
  cursor: none;
}

.cursor {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  contain: layout style size;
  pointer-events: none;
  transition: all .1s ease-out;
}

.cursor::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  display: block;
  width: 100px;
  height: 100px;
  background: gray;
  transform: scale(0.2);
  border-radius: 100%;
}

.cursorMedia {
  display: block;
  height: 400px;
  width: 400px;
  overflow: hidden;
  border-radius: 100%;
  transform: scale(0);
  transition: all .4s ease-out;
  position: relative;
  margin: -175px 0 0 -175px;
}

video {
  height: 400px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

h1 {
  -webkit-text-stroke: 2px black;
  color: transparent;
  font-size: 4rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.next:focus {
  transform: scale(0.8);
}